{% block content %}
    <h1>Welcome, Coach {{ username }}</h1>
    <p>This is your dashboard.</p>
    <form method="post" action="{% url 'delete_match_session' %}">
        {% csrf_token %}
        <label for="session_id">Enter Session ID to Delete:</label>
        <input type="number" name="session_id" id="session_id" required>
        <button type="submit">Delete Match Session</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Add New Match Session</h2>
    <form method="post" action="{% url 'add_match_session' %}">
        {% csrf_token %}
        <label for="stadium_id">Stadium ID:</label>
        <input type="number" name="stadium_id" id="stadium_id" required>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required>
        <label for="time_slot">Time Slot:</label>
        <input type="number" name="time_slot" id="time_slot" required>
        <label for="jury_username">Assign Jury:</label>
        <select name="jury_username" id="jury_username">
            {% for jury in juries %}
                <option value="{{ jury.0 }}">{{ jury.1 }} {{ jury.2 }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Match Session</button>
    </form>


    <a href="{% url 'create_squad' %}">
        <button type="button">Form Squad for Session</button>
    </a>

    <h2>Stadiums</h2>
    <table>
        <tr>
            <th>Stadium Name</th>
            <th>Country</th>
        </tr>
        {% for stadium in stadiums %}
            <tr>
                <td>{{ stadium.0 }}</td>
                <td>{{ stadium.1 }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
