{% block content %}
<h2>Create Squad for Session ID: {{ session_id }}</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <h3>Select Players and Assign Positions:</h3>
        {% for player in players %}
        <div>
            <input type="checkbox" name="player_usernames" value="{{ player.username }}" id="player_{{ player.username }}">
            <label for="player_{{ player.username }}">{{ player.name }} {{ player.surname }}</label>
            <select name="position_ids">
                <option value="">Select Position</option>
                {% for position in player.positions %}
                    <option value="{{ position }}">
                        {% if position == 0 %}
                            Libero
                        {% elif position == 1 %}
                            Setter
                        {% elif position == 2 %}
                            Opposite hitter
                        {% elif position == 3 %}
                            Outside hitter
                        {% elif position == 4 %}
                            Middle blocker
                        {% else %}
                            Unknown Position
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Create Squad</button>
</form>
{% endblock %}
